body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1160px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.main-nav {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  }

.menu-links,
.catalog-list,
.cart,
.partners,
.sort-items,
.features-list,
.pagination-list {
  list-style: none;
}

.logo {
  margin-right: 200px;
}

.logo a[href]:hover {
  opacity: .8;
}

.logo a[href]:active {
  opacity: .3;
}

.main-nav a,
.menu-links a,
.cart a {
  color: #000000;
}

.cart .cart-link {
  position: relative;
  padding-left: 50px;

}

.cart-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -8px;
  width: 16px;
  height: 18px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav a:hover,
.main-nav a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
}

.main-nav a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.3);;
}

/*Подчеркивание ссылки магазина*/

.menu-links .active_page {
  position: relative;
  padding-bottom: 13px;
}

.active_page::before {
  content: "";
  position: absolute;
  top: 30%;
  width: 74px;
  height: 18px;
  border-bottom: 2px solid red;
}

.services {
  border-bottom: 2px solid #eee;
  padding-top: 10px;
}

.services-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.services-item {
 text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 18px;
}

.service-text {
  margin-bottom: 32px;
  margin-top: 0;
}

.menu-links {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  padding: 0;
  margin-top: 27px;
}

.menu-links li {
  padding-right: 47px;
  margin-bottom: 0;
}

.main-footer {
  padding-bottom: 70px;
}

.services-list {
  padding-bottom: 80px;
}

.service-image {
  display: block;
  vertical-align: middle;
}

.features-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
  margin-bottom: 33px;
}

.features-title {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.features-digits  {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
  color: #000000;
}
.accuracy-desc {
  font-size: 16px;
  line-height: 18px;
  padding-top: 22px;
}

.button {
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 13px;
}

.button-red {
  background-color: #fb565a;
}

.button-red:hover {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.footer-social  {
  list-style: none;
  margin: 0;
}

.social-button {
  background-color: #e1e1e1
}

.social-button:hover {
  background-color: #e74246
}

.social-button:active {
  background-color: #d7373b
}
.social-image:active {
  opacity: 0.3;
}


/*Сетка*/

.main-header {
  background-color: #eeeeee;
  padding-top: 45px;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
}

.cart {
  margin-left: auto;
  padding-left: 0;
  margin-top: 26px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 300px;
  padding-right: 100px;
}

.services-item:nth-child(3) {
  padding:0;
}

/*Партнеры*/

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 42px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 82px;
  padding-left: 0;
}

.partners a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 90px;
}

.partners img {
  display: block;
}

.partners li {
  position: relative;
}

.partners li::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 52px;
  right: -20px;
  top: 50%;
  margin-top: -26px;
  background-color: #eeeeee;
}

.partners li:last-child::before {
  background-color: transparent;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}


/*Футер*/

.footer-container {
  width: 1235px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-container {
  display: flex;
  align-items: flex-end;
}

.footer-social  {
  display: flex;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  border-radius: 79px;
  margin-right: 10px;
}

.footer-text {
  margin-left: 130px;
}

.footer-header {
  display: block;
  margin: 0 0 10px;
  color: #000;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.footer-description {
  margin: 0;
  color: #444;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 7px;
}


/* Каталог */

.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
  padding-top: 68px;
  padding-bottom: 109px;
  margin: 0;
}

.filter-block {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-option {
  padding-bottom: 14px;
}

.filter-image {
  padding-bottom: 15px;
}

.range-legend-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.radio-filter-block {
  margin-top: 30px;
}

.radio-legend-title{
  padding-bottom: 13px;
}

.product-filter legend {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*Фильтр-ползунок*/

.filter-block {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 59px;
}

.radio-filter-block {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 29px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 8px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*Первый фильтр*/

.radio_button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 5px solid #a6a6a6;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
   cursor: pointer;
}

.filter-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.radiofilter:checked + .radio_button::before  {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border: 3px solid #a6a6a6;
  border-radius: 50%;
  background-color: #a6a6a6;
  left: 3px;
  bottom: 3px;
}

.radio_button:hover {
  border-color: #4d4d4d;
}

.radio_button:focus {
  border-color: #4d4d4d;
}

.radiofilter:checked + .radio_button:hover:before{
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

.radio_button:disabled {
  opacity: 0.1;
}

.radiofilter:disabled + .radio_button:hover:before{
  opacity: 0.1;
}

/*Второй фильтр. Особенности*/

.filter-item {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 31px;
}

.checkbox::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 26px;
  height: 26px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkboxfilter:checked + .checkbox::before  {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox:hover {
  opacity: 0.4;
}

.checkbox:focus {
  opacity: 0.4;
}

.checkbox:checked + .checkbox:hover:before{
  opacity: 0.4;
}

.checkbox:disabled {
  opacity: 0.1;
}

.checkboxfilter:disabled + .checkbox:hover:before{
  opacity: 0.1;
}

.button-filter {
  background-color:#eeeeee;
  color: #000;
  text-transform: uppercase;
  padding-left: 89px;
  padding-right: 88px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 5px;
}

.button-filter:hover {
  background-color: #dfdfdf
}

.button-filter:active {
  background-color: #d5d5d5
  border-top: 3px solid #bfbfbf;
  color: #959595;
}

.checkbox-filter-block {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 34px;
  margin-bottom: 30px;
}

.filter-checkbox-list {
  margin-top: 30px;
}

.checkbox-legend-title{
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 14px;
}

/*Сортировка*/

.sort-header {
  display: inline-flex;
  text-transform: uppercase;
  margin: 0;
}

.sort {
  display: flex;
  padding-bottom: 53px;
  padding-top: 55px;
}

.sort a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  opacity: .3;
}

.sort-items {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 560px;
  margin: 0;
}

.sort-items li {
  padding-right: 27px;
}

.sort-items a {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
}

.sort-icons  {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40px;
  padding: 0;
  margin-left: 21px;
  padding-top: 7px;
}

.sort a:active {
  opacity: 1;
}

 .sort-down {
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("../img/icon-down-dir.svg") no-repeat;
  width: 11px;
  height: 10px;
}

.sort-up {
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("../img/icon-up-dir.svg") no-repeat;
  width: 11px;
  height: 10px;
}

.sort a:hover {
  opacity: .7
}

.sort .sort-down-active   {
  opacity: 1;
}

.sort .active-sort-item {
  opacity: 1;
}

/*Каталог*/

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
  margin: 0 50px 28px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.catalog-columns {
  display: flex;
}

.filters {
  padding-right: 140px;
  padding-top: 59px;
}

.catalog {
  width: 760px;
  margin: 0;
}

.catalog-item {
  width: 360px;
  margin: 0 0 32px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-title {
  color: #000;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 18px;
}

/*Наведение на плитку*/

.catalog-item  {
  position: relative;
  height: 616px;
  background-color: #eee;
  border-radius: 4px 4px 0 0;
}

.catalog-item::before {
  display: inline-block;
  vertical-align: top;
  content: "";
  background: url("../img/browser.svg") no-repeat;
  height: 40px;
  width: 360px;
  opacity: .3;
  padding: 0;
}

.catalog-item:hover:before {
  opacity: 1;
}

.catalog-item::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 23px 0 0 #fff, 46px 0 0 #fff;
}

.product-image {
  display: block;
  top: 40px;
  left: 0;
}

/*Блок описания при наведении на плитку*/

.template {
  position: relative;
}

.template-info {
  display: none;
  position: absolute;
  width: 360px;
  bottom: 0;
  background-color: #eeeeee;
  text-align: center;
  padding-bottom: 43px;
}

.catalog-item:hover .template-info  {
  display:block;
}

.description {
  display: block;
  line-height: 19px;
  width: 230px;
  color: #8a8a8a;
  padding-bottom: 30px;
  margin: 0 auto;
}

.button-cart {
  padding-left: 63px;
  padding-right: 60px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 3px;
}

/*Модальное окно с контактной формой*/

.contact {
  display: none;
  position: fixed;
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  margin: 0 auto;
  bottom: 90px;
  right: 50%;
  margin-right: -480px;
  background-color: #fff;
}

.contact-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
}

.contact-input {
  width: 360px;
  box-sizing: border-box;
  padding-top: 12px;
  padding-left: 13px;
  padding-bottom: 13px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.contact-show {
  display: block;
  animation: bounce 0.6s;
}

.error {
  border: 2px solid red;
}

.contact-error {
  animation: shake 0.6s;
}

.contact-item input:focus {
  border-color: #000;
  color: #000;
}

.contact-item input:hover {
  border-color: #b4b9bb;
}

.contact-item label {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: bold;
}

.contact-title {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  color: #000;
  padding-top: 30px;
  margin-left: 98px;
  margin-bottom: 22px;
}

.letter-text {
  color: #757575;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding-left: 12px;
  padding-top: 10px;
  width: 760px;

}

.button-contact {
  padding-left: 82px;
  padding-right: 85px;
  padding-top: 15px;
  margin-top: 25px;
}

.contact .button {
  display: block;
}

.contact-show {
  display: block;
  animation: bounce 0.6s;
}

.error{
  border: 2px solid red;
}

.contact-error {
  animation: shake 0.6s;
}


.contact-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.contact-close::before,
.contact-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 21px;
  height: 3px;
  background-color: #fecccd;
}

.contact-close::before {
  transform: rotate(45deg);
}

.contact-close::after {
  transform: rotate(-45deg);
}

.contact-close::after:hover {
 color: #fb565a;
}
.contact-close::before:hover {
 color: #fb565a;
}

/* Анимация при ошибке*/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/*Слайдер*/

.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 72px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 93px;
  z-index: 100;
  width: 160px;
  height: 28px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 68px 0 79px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 8px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 28px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
}

.slider-item p {
  max-width: 410px;
  margin: 0;
  margin-bottom: 39px;
}

.slider-item-button {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item-button:hover {
  background-color: #e74246;
}

.slider-item-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}


/*О студии*/

.features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.features-description {
  width: 660px;
  margin-top: 74px;
}

.features-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 25px;
}

.features-list {
  margin: 0;
  padding: 0;
}

.features-option {
  padding-bottom: 24px;
  padding-left: 30px;
}

.features-list .features-red-line {
  position: relative;
  padding-left: 7px;
}

.features-red-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -29px;
  margin-top:-1px;
  width: 25px;
  border-bottom: 2px solid red;
}

.features-accuracy {
  background: url('../img/nerds-illustration.png') no-repeat 0 0;
  width: 360px;
  margin-top: 41px;
}

.feature-table   {
  margin: 243px 0 0 -2px;
}

.feature-table caption {
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  color: #000;
  margin-left: 18px;
  margin-bottom: 52px;
}

.features-digits {
  padding-top: 5px;
  padding-bottom: 15px;
  padding-right: 18px;
}

.features-digits sup {
  font-size: 27px;
}

.feature-table-desc {
  line-height: 18px;
}

/*Пейджер*/

.pager {
  display: flex;
  align-items: flex-start;
  margin: 27px 0 57px;
  padding: 0;
}

.pagination-list {
  padding-left: 0;
}

.pagination-item a {
  padding: 15px 21px;
  cursor: pointer;
  background-color: #eee;
  border-radius: 5px;
  color: #000;
  font-weight: 500;
  margin-right: 7px;
}

.pagination-item-current a {
  background-color: #fff;
  border: 4px solid #eee;
  padding: 11px 16px;
  border-radius: 5px;
}

.pagination-item {
  display: inline-block;
  vertical-align: top;
}

.pagination-item-last a {
  margin-right: 0;
}

.button-pagination {
  background-color: #eeeeee;
  color: #000;
  text-transform: uppercase;
  padding-left: 79px;
  padding-right: 78px;
  padding-top: 13px;
  padding-bottom: 12px;
  margin-top: 3px;
  margin-left: 10px;
  border-radius: 5px;
}

/*Карта*/

.map {
  background-color: #eee;
  background-size: cover;
  max-height: 416px;
  margin-bottom: 7px;
}

.map-title {
  font-size: 18px;
  line-height: 30px
  font-weight: bold;
}

.map-wrapper {
  width: 1160px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.map-contacts {
  position: relative;
  background-color: #fff;
  width: 270px;
  min-height: 270px;
  padding: 37px 0 0 50px;
  margin: 53px 0 0 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.map-contacts p {
  color: #666;
  margin-right: 60px;
  line-height: 18px;
  max-width: 210px;
  font-style: normal;
  padding-bottom: 2px;
  padding-left: 2px;
}

.map-button {
  display: inline-block;
  vertical-align: top;
  margin: 21px 0 20px;
  padding: 13px 45px;
}

.frame-map {
  display: block;
  width: 100%;
  border: none;
  margin-bottom: 70px;
}

.map-contacts h3 {
 margin: 16px 0 25px;
}
