body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  background-color: #ffffff;
}





/* Фильтр */

.radio_button {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position:relative;
}

.active-radio_button::before {
  content: '';
  display: none;
  width: 1px;
  height: 1px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: black;
  margin-left: auto;
  position:absolute;
  left: 2px;
  bottom: 2px;
}

input:checked + .active-radio_button::before {
  display: inline-block;
}

input {
  display: none;
}

.checkbox {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position:relative;

}
.active-checkbox::before {
  content: '';
  display: none;
  width: 1px;
  height: 1px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: black;
  margin-left: auto;
  position:absolute;
  left: 2px;
  bottom: 2px;
}

input:checked + .active-checkbox::before {
  display: inline-block;
}
input {
  display: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width:1100px;
  padding-right:20px;
  padding-left: 20px;
  margin: 0 auto;
}
.main-nav {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  }


.menu-links, .catalog-list {
  list-style: none;
}

.main-nav a,
.cart a {
  color: #000000;
}

.cart .cart-link {
  position: relative;
  padding-left: 60px;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 24px;
  width: 16px;
  height: 18px;

  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.main-nav a:hover,
.main-nav a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
}

.main-nav a:active,
.cart a:active {
  color: rgba(0, 0, 0, 0.3);;
}

.active_page {
  width: 83px;
  height: 2px;
  color: #fb565a;
  text-decoration: underline;
  text-decoration-color: red;
}

.slider-item{
  list-style: none;
}

.slider-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.services-list {
  list-style: none;
}

.services-item {
 text-align: left;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.features-name {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

td.digits  {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: normal;
  color: #000000;
}

.button {
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button-red {
  background-color: #fb565a;
}

.button-red:hover {
 background-color: #e74246;
}

.button-red:active {
 background-color: #d7373b;
}

.button-green {
 background-color: #00ca74;
}

.button-green:hover {
 background-color: #00bc6c;
}

.button-green:active {
 background-color: #00aa62;
}


.button-yellow {
 background-color: #efc84a;
}

.button-yellow:hover {
 background-color: #eab534;
}

.button-yellow:active {
 background-color: #e5a722;
}

.footer-social  {
  list-style: none;
}

.social-button {
  background-color: #e1e1e1
}

.social-button:hover {
  background-color: #e74246
}

.social-button:active {
  background-color: #d7373b
}

.footer-header {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

/* Каталог */

.page-title {
  font-size: 55px;
  font-weight: 55px;
  line-height: 1;
  color: #000000;
}

.legend-title, {
  font-size: 18px;
  font-weight: bold;
  line-height: 30;
  text-transform: uppercase;
}

.product-filter fieldset {
  border: none;
}

.product-filter legend {
  font-size: 18px;
  line-height: 30px;
}

.product-filter ul {
  list-style: none;
  line-height: 20px;
}

/*Сетка*/
.main-nav {
  padding-top: 43px;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items:  center;
  background-color: #eeeeee;
 }



 .menu-links {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
}





.services-list {
  display: flex;
  justify-content: space-around;
}

.services-item {
  width: 300px;
}

.main-footer {
  display: flex;
  justify-content: space-around;
}

.footer-social {
  display:flex;
  justify-content: space-between;
  background-color: red;
}

.social-button {
  padding-right: 12px;
}

.footer-text {
  width:550px;
}

.catalog {
  width: 800px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
 }

.catalog-columns {
  display: flex;
  justify-content: space-around;
  background-color: grey;
}

.menu-links {
  display: flex;
  justify-content: space-around;
}

.menu-links li {
  padding-right: 27px;
}

.main-footer {
padding-top: 69px;
padding-bottom: 70px;
background-color: yellow;
}

.services-list {
  background-color: grey;
  padding-bottom: 80px;
  padding-top: 80px;
}

.service-image {
  display: block;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
  background-color: red;
}

.social-button {
  display: inline-block;
}























